<!DOCTYPE html>
<html>
    <head>
        <title> Welcome! </title>
    </head>

    <body>
        <h1> Hello World </h1>

        <div class="msg">{{ msg }}</div>

        <p> Please log in</p>

        <!--form action helps direct where the input data should go-->
        <form action="{{ url_for('login')}}" form method="post" autocomplete="off">

            <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username"
            required></br></br>
            <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password"
            required></br></br>
            <input type="submit" class="btn" value="Log In">
        </form>
        
        <p> If you don't have an account why not sign up? </p>
 
        <a href="/signup">Sign up</a>

        <p> If you don't want to sign up you can still explore as a guest! </p>
        
        <a href="/home">Continue as guest</a>

    </body>
</html>